<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<security:http  use-expressions="true" authentication-manager-ref="authenticationManager" entry-point-ref="restEntryPoint" create-session="ifRequired">
		<security:intercept-url pattern="/conf/secrets/**" access="isAuthenticated()"/>
		<security:intercept-url pattern="/conf/environments/*/applications/*/verify" method="PUT" access="permitAll"/>
		<security:intercept-url pattern="/conf/**" method="GET" access="permitAll"/>
		<security:intercept-url pattern="/conf/**" access="isAuthenticated()"/>
		<security:intercept-url pattern="/api/v2/secrets/**" access="isAuthenticated()"/>
		<security:intercept-url pattern="/api/**" method="GET" access="permitAll"/>
		<security:intercept-url pattern="/api/**" method="OPTIONS" access="permitAll"/>
		<security:intercept-url pattern="/api/**" access="isAuthenticated()"/>
		<security:http-basic />
		<security:csrf disabled="true"/>
		<security:form-login always-use-default-target="false"
			login-processing-url="/api/login"
			authentication-success-handler-ref="restLoginSuccessHandler"
			authentication-failure-handler-ref="restLoginFailureHandler"
			/>
		<security:logout logout-url="/api/logout" success-handler-ref="restLogoutSuccessHandler" />
	</security:http>
	
</beans>
